In [131]:
import pandas as pd
import numpy as np
import time 
import datetime

In [132]:
train_list = list()
with open("sample-data.csv") as input_file:
    
    for line in input_file:
        line = line.strip()
        array = line.split(',')
        array_len=len(array)
        train_list.append((array[0],array[1],array[2],array[3],array[4],array[5],array[6],array[7],array[8]))

## Part 1: Epoch Time to Local Time

In [136]:
df=pd.DataFrame(train_list)
df.drop(0,axis=0, inplace=True)
df.columns = ['time','accX','accY','accZ','gyrX','gyrZ','magX','magY','magZ']
df['local_time'] = df['time'].apply(lambda x: time.strftime('%y/%m/%d %H:%M:%S', time.localtime(int(x))))
df.head(5)

,time,accX,accY,accZ,gyrX,gyrZ,magX,magY,magZ,local_time
1,1620022010,-5.5097656,-2.2207031,5.2089843,3.4179687,16.1132812,-30.9448242,-0.1751953,0.0063477,21/05/03 11:36:50
2,1620022010,-5.5332031,-2.2109375,5.2050781,-15.3808593,22.277832,-27.8930664,-0.1751953,0.0063477,21/05/03 11:36:50
3,1620022010,-5.5917969,-2.0976562,5.2519531,-28.5644531,27.2827148,-22.1557617,-0.1751953,0.0063477,21/05/03 11:36:50
4,1620022011,-5.5175781,-2.1074218,5.2207031,-43.0297851,37.8417969,-6.1035156,-0.1751953,0.0063477,21/05/03 11:36:51
5,1620022011,-5.5625,-2.1523437,5.3066406,-57.6171875,41.5039062,12.4511719,-0.1751953,0.0063477,21/05/03 11:36:51

## Part 2: Sum of column Range

In [138]:
label = int(input("Enter Label Value:"))
row_num_1 = int(input("Enter Start Row:"))
row_num_2 = int(input("Enter End Row:"))

sum_of_range = df.iloc[row_num_1:row_num_2,label].apply(lambda x: float(x)).sum()
print("\n\nSum of Elements from Row No. {} to {}, in column number {} is {}".format(row_num_1, row_num_2, label, sum_of_range))

Enter Label Value:3
Enter Start Row:4
Enter End Row:5


Sum of Elements from Row No. 4 to 5, in column number 3 is 5.3066406